.keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    padding: 15px;
    width: 1070px;
    margin: 0 auto;

    border: 1px solid #000;
    border-radius: 5px;

    background-color: rgb(181, 176, 176);
}

.key-btn {
    width: 60px;
    height: 60px;

    font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0.06em;

    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 250ms linear, box-shadow 250ms linear, border-color 250ms linear;

    background-color: rgb(96, 94, 94);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);

            color: #fff;
}

.title {
    font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 130%;
    text-align: center;
}

.text-input {
display: flex;
justify-content: center;
align-items: center;

width: 1060px;
height: 200px;
margin: 15px auto;
padding: 20px;

    font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        text-align: center;

        border: 1px solid #000;
        border-radius: 5px;
}

.delete-btn {
    width: 132px;
}

.tab-btn {
    width: 132px;
}

.caps-btn {
    width: 132px;
}

.return-btn {
    width: 132px;
}

.shift-btn {
    width: 132px;
}

.gap-btn {
    width: 350px;
}

.active {
box-shadow: inset 0 0 10px 5px rgb(89, 117, 89);
background-color: rgb(97, 131, 97);
border-color: rgb(89, 117, 89);
}

.icon {
    width: 10px;
    height: 10px;

    fill: #000;
}


